.main {
    padding: 20px 162px; 
    background: url('/src/assets/imgs/background/background.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    color: var(--color-text);
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    max-width: 1596px; 
    margin-left: auto;
    margin-right: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1596px; 
    margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);

}

@media (max-width: 1440px) {
    .main {
        padding: 40px 100px;
    }
    
    .header,
    .card-grid {
        max-width: 1240px; 
    }
}

@media (max-width: 992px) {
    .main {
        padding: 40px 50px;
    }
    
    .header,
    .card-grid {
        max-width: 892px;
    }
    
    .card-grid {
        grid-template-columns: 1fr; 
    }
}

