.asu{
    background-color: #262626;
    text-align: left;
    padding: 0 50px;    
}
.titel_asu{
    color: white;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    padding-top: 120px;
    padding-bottom: 14px;
}
.discription_asu{
    color: #E6E6E6;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 50px;
}
.p_asu{
    border-radius: 8px;
    border-color: #262626;
    color: white;
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    margin: 12px 14px;
    padding-bottom: 50px;
}
@media screen and (max-width:1440px) {
.asu{
    padding: 0 40px;    
}    
.titel_asu{
    font-size: 38px;
    padding-top: 80px;
    padding-bottom: 10px;
}
.discription_asu{
    font-size: 16px;
    padding-bottom: 40px;
}
.p_asu{
    font-size: 18px;
    margin: 10px;
    padding-bottom: 40px;
}
}
@media screen and (max-width:992px) {
.asu{
    padding: 0 16px;    
}        
.titel_asu{
    font-size: 28px;
    padding-top: 40px;
    padding-bottom: 6px;
}
.discription_asu{
    font-size: 14px;
    padding-bottom: 30px;
}
}